@charset "utf-8";

div.FormulaSuggest {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px 2px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	font-size: 93%;
	height:300px;
	overflow-y: scroll;
	white-space: nowrap;
}

div.FormulaSuggest span.close {
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
	top: 3px;
	right: 3px;
	background: url(../img/close.png) no-repeat;
	text-indent: -1000em;
	cursor: pointer;
}
* html div.FormulaSuggest span.close {
	background: url(../../img/blank.gif) repeat;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/close.png',sizingMethod=scale);
}

div.FormulaSuggest a {
	padding: 1px 23px 1px 10px;
	display: block;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}
div.FormulaSuggest a:hover {
	background-color: green;
}
