openapi: 3.0.3
info:
  title: MassBank-OpenAPI
  description: This is the MassBank REST API
  version: "0.0.1"
  termsOfService: 'https://massbank.eu'
  contact:
    email: denbi-mash@ipb-halle.de
  license:
    name: GPL
    url: http://www.gnu.org/licenses/gpl-3.0
    
servers:
  - url: https://msbi.ipb-halle.de/MassBank-OpenAPI/
    description: dev server
  - url: http://localhost:8080/MassBank-OpenAPI
    description: local dev server

tags:
  - name: record
    description: Add and Search records
    
components:
  securitySchemes:
    changeBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT    #JSON Web Token
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    ForbiddenError:
      description: Access token does not allow the operation
    NotFoundError:
      description: The record with the recordId was not found
    DatabaseError:
      description: There was in internal error during database access
    SyntaxError:
      description: The record or query was invalid
      content:
        application/json:
          schema:
            type: string
            description: error message
            example: "The value for ACCESSION is not valid."
  schemas:
    record:
      type: string
      description: a full massBank record file as a string
      example: | 
        ACCESSION: UPA00001
        RECORD_TITLE: FLAVOXATE; ESI-QTOF; MS2; CE 23 eV; [M+H]+
        DATE: 2016.01.19 (Created 2015.06.23)
        AUTHORS: K. Wilkinson, S. Miranda
        LICENSE: CC BY
        COPYRIGHT: UPAO
        COMMENT: This spectrum was obtained at The Multidisciplinary Research Laboratory at Antenor Orrego Private University, Trujillo, La Libertad, Peru.The sample was obtained from a pharmacy. The sample was dissolved in 1:1 acetonitrile:water and infused at a rate of 10 uL/min.
        COMMENT: Contact us: http://www.upao.edu.pe/labinm/
        CH$NAME: FLAVOXATE
        CH$COMPOUND_CLASS: Non-Natural Product
        CH$FORMULA: C24H25NO4
        CH$EXACT_MASS: 391.17836
        CH$SMILES: C(C4)CCN(C4)CCOC(=O)c(c3)c(O1)c(cc3)C(=O)C(C)=C(c(c2)cccc2)1
        CH$IUPAC: InChI=1S/C24H25NO4/c1-17-21(26)19-11-8-12-20(23(19)29-22(17)18-9-4-2-5-10-18)24(27)28-16-15-25-13-6-3-7-14-25/h2,4-5,8-12H,3,6-7,13-16H2,1H3
        CH$LINK: CAS 15301-69-6
        CH$LINK: CHEBI 5088
        CH$LINK: CHEMSPIDER 3237
        CH$LINK: INCHIKEY SPIUTQOUKAMGCX-UHFFFAOYSA-N
        CH$LINK: COMPTOX DTXSID3023053
        CH$LINK: PUBCHEM CID:3354
        AC$INSTRUMENT: Xevo G2 XS QTOF waters
        AC$INSTRUMENT_TYPE: ESI-QTOF
        AC$MASS_SPECTROMETRY: MS_TYPE MS2
        AC$MASS_SPECTROMETRY: ION_MODE POSITIVE
        AC$MASS_SPECTROMETRY: COLLISION_ENERGY 23 eV
        AC$MASS_SPECTROMETRY: DESOLVATION_GAS_FLOW 600 L/h
        AC$MASS_SPECTROMETRY: DESOLVATION_TEMPERATURE 300 C
        AC$MASS_SPECTROMETRY: IONIZATION ESI
        MS$FOCUSED_ION: PRECURSOR_M/Z 392.18563
        MS$FOCUSED_ION: PRECURSOR_TYPE [M+H]+
        MS$DATA_PROCESSING: FIND_PEAK centroid
        MS$DATA_PROCESSING: WHOLE Mass++ 2.7.5
        PK$SPLASH: splash10-03di-0958000000-36f8ecae0c5b45da3a93
        PK$ANNOTATION: m/z tentative_formula formula_count mass error(ppm)
          105.0704 C8H9+ 1 105.0704 0.24
          112.1128 C7H14N+ 1 112.1126 -1.57
          119.0860 C9H11+ 1 119.0861 0.63
          147.0082 C8H3O3+ 1 147.0082 0.13
          199.1345 C11H19O3+ 1 199.1334 -5.43
          263.0709 C17H11O3+ 1 263.0708 -0.31
          272.1635 C17H22NO2+ 1 272.1651 5.71
          295.1947 C20H25NO+ 1 295.1936 -3.68
          307.0971 C19H15O4+ 1 307.0970 -0.22
          310.1708 C24H22+ 1 310.1722 4.35
          392.1862 C24H26NO4+ 1 392.1862 -0.04
        PK$NUM_PEAK: 26
        PK$PEAK: m/z int. rel.int.
          105.0704 338200 14
          112.1128 23870000 999
          119.0860 118500 5
          131.0021 378500 16
          139.0336 258400 11
          147.0082 1529000 64
          191.0311 107900 5
          198.1268 120200 5
          199.1345 265600 11
          203.0231 139600 6
          236.1349 133000 6
          250.1505 376400 16
          258.1478 278600 12
          263.0709 14100000 590
          272.1635 643600 27
          272.6651 112700 5
          295.1947 281100 12
          307.0971 14130000 591
          310.1708 139300 6
          323.2260 1326000 55
          324.2293 135500 6
          341.2370 153000 6
          341.3050 274800 12
          392.1862 9717000 407
          392.2480 125800 5
          392.2755 107100 4
        //
    recordId:
      type: string
      description: a massBank id
      example: "PR030008"

paths:
  /record:
    post:
      summary: Uploads a record to the database
      description: Uploads a new record to the massBank database if the ACCESSION in the record is unique
      operationId: postRecord
      tags:
        - record
      security:
        - changeBearerAuth: []
      responses:
        201:
          description: Created a new record
          headers:
            Location:
              schema:
                type: string
                format: url
                example: 'https://msbi.ipb-halle.de/MassBank-OpenAPI/record/PR030008'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/ForbiddenError'
        409:
           description: Could not insert dataset, because it already exists
        400:
           $ref: '#/components/responses/SyntaxError'
        500:
           $ref: '#/components/responses/DatabaseError'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              '$ref': '#/components/schemas/record'

    get:
      summary: Returns all records matching the search
      description: This resource reports all record ids which fulfill the criteria in the search parameters, 
        or all records if the query parameters are missing or empty
      operationId: getRecordsIds
      tags:
        - record
      parameters:
        - in: query
          name: name
          schema:
            type: string
            example: '*nicotine*'
          description: Search records with the specified string in RECORD_TITLE or CH$NAME.
        - in: query
          name: formula
          schema:
            type: string
            example: 'C9H15NO3S'
          description: Search records with the specified formula CH$FORMULA.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/recordId'
        400:
          $ref: '#/components/responses/SyntaxError'
        500:
          $ref: '#/components/responses/DatabaseError'

  /record/{recordId}:
    parameters:
      - in: path
        name: recordId
        required: true
        schema:
          $ref: '#/components/schemas/recordId'
        description: The record id
    get:
      summary: Returns the content of one record
      description: Returns the content of the record in MassBank format
      operationId: getRecord
      tags:
        - record
      responses:
        200:
          description: successful operation
          content:
            text/plain; charset=utf-8:
              schema:
                '$ref': '#/components/schemas/record'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          $ref: '#/components/responses/DatabaseError'
    put:
      summary: replace a record
      description: replaces the record in with the specified id by a new record, which must have the same ACCESSION
      operationId: replaceRecord
      security:
        - changeBearerAuth: []
      tags:
        - record
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/record'
      responses:
        204:
          description: the record was successfully replaced
        400:
          $ref: '#/components/responses/SyntaxError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/ForbiddenError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          $ref: '#/components/responses/DatabaseError'
    delete:
      summary: delete a record
      description: deletes the record with the specified id from the massBank database
      operationId: deleteRecord
      security:
        - changeBearerAuth: []
      tags:
        - record
      responses:
        204:
          description: the record was successfully deleted
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/ForbiddenError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          $ref: '#/components/responses/DatabaseError'
          

          

