* { font-family: "ÉÅÉCÉäÉI", "Meiryo", "Verdana", "Arial", "Trebuchet MS", "MS Gothic", "ÇlÇr ÉSÉVÉbÉN", sans-serif; font-style:normal; }

body, div, p, hr, ul, ol, li, table, th, td, thead, tbody, tfoot, form, pre
{
	font-size:10pt;
	font-weight:normal;
}

h1 {
	font-size:14pt;
	margin-top:2px;
}

h1.method {
	font-size:14pt;
	border-left:7px navy solid;
	padding-left:9px;
	margin-top:2px;
}

ul {
	margin-top:0px;
	margin-left:1.5em;
	padding:0;
}

li {
	margin-top:7px;
}

table.list th {
	border: 1px dimgray solid;
	background-color:CornFlowerBlue;
	padding:5px;
	margin:0;
	font-weight:bold;
	text-align:left;
	width:800px
}

table.list td {
	border-left: 1px dimgray solid;
	border-right: 1px dimgray solid;
	border-bottom: 1px dimgray solid;
	font-weight:bold;
	text-align:left;
	padding:7px;
	margin:0;
}


a, img { border:0; }
a, a:link, a:visited { color:blue; text-decoration: underline;}
a:hover, a:active{ color:blue; text-decoration: underline;}

p {
	text-indent:1.5em;
	line-height:0.7;
}

hr {
	height: 1px;
	border: none;
	border-top: 1px silver solid;
}

.src {
	width:800px;
	border:1px silver solid;
	background-color:WhiteSmoke;
	padding:5px;
}

.res1 {
	width:400px;
	border:1px silver solid;
	background-color:MintCream;
	padding:8px;
}
.res2 {
	width:800px;
	border:1px silver solid;
	background-color:MintCream;
	padding:8px;
}

.head {
	color:dimgray;
}

.dtype {
	color:Maroon;
	font-weight:bold;
}


